//html 
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Tarjeta Credito</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">{{accion | uppercase }} Tarjeta</h5>

                    <form [formGroup]="form" (ngSubmit)="guardartarjeta()"> 
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user"
                                    [class.green-icon]="this.form.get('titular')?.valid"
                                    [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i>
                            </span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="titular">
                          </div>
                          <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-credit-card"
                                    [class.green-icon]="this.form.get('numerotarjeta')?.valid"
                                    [class.red-icon]="this.form.get('numerotarjeta')?.invalid && this.form.get('numerotarjeta')?.touched"></i>
                            </span>
                            <input formControlName="numerotarjeta" maxlength="16" type="text" class="form-control" placeholder="numero tarjeta">
                          </div>
                          <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-regular fa-calendar"
                                            [class.green-icon]="this.form.get('fechaexpiracion')?.valid"
                                            [class.red-icon]="this.form.get('fechaexpiracion')?.invalid && this.form.get('fechaexpiracion')?.touched"></i>
                                    </span>
                                    <input formControlName="fechaexpiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY">
                                  </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"
                                        [class.green-icon]="this.form.get('cvv')?.valid"
                                            [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3"  type="password" class="form-control" placeholder="CVV">
                                  </div>
                            </div>
                          </div>
                          <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                <i class="fa-solid fa-database"></i>&nbsp;Aceptar</button>
                          </div>
                          
                    </form>
 
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listado De Tarjetas</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of listarTarjetas">
                                <td>{{ tarjeta.titular }}</td>
                                <td>{{ tarjeta.numerotarjeta }}</td>
                                <td>{{ tarjeta.fechaexpiracion }}</td>
                                <td>
                                    <i (click)="editartarjeta(tarjeta)" class="fa-regular fa-pen-to-square text-info"></i>
                                </td>
                                <td>
                                    <i (click)="eliminartarjeta(tarjeta.id)" class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>